.App {
  text-align: center;
  min-height: 100vh;
  position:  relative;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.left-navi {
  list-style-type: none;
  margin-right: 40px;
  padding-right: 40px;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  width: 50%;
}

.link {
  display: inline-block;
  margin-left: 40px;

}

.navi {
  text-decoration: none;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
}

.navi:hover {
  color: blue;
  border-bottom: 3px solid blue;
}




#appTitle {
  display: block;
  background-color: rgb(11, 58, 145);
  color: white;
  font-family: serif;
}
hr {
  margin-bottom: 0;
}
.footer {
  background-color: rgb(11, 58, 145);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}


