.home{
    text-align: center;
}

#bookImg {
  zoom: 1.5;
  border: 1.2px solid #ccc;
}

#bookTitle {
    font-size: 1.4em;
}

#bookTitleName {
    border-bottom: 1px solid #ccc;
}

#readButton {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;
  button-display: none;
}

#readButton:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

#readButton:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

#bookTitleName {
    text-decoration: none;
}

.iptxt {
	position: relative;
	width: 80%;
    margin: 40px 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
}

.iptxt input[type="text"]{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em; 
}

.iptxt input[type="text"]:focus{
    outline: none;
}

.address {
    padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.address ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}

.address:focus ~ .focus_line,
.iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}

.address ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}

.address:focus ~ label, .iptxt.address ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}

